body { background: #af5437; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 23px; display: flex; }
.block-config-0 { color: #be71e7; font-size: 15px; margin-bottom: 5px; }
.block-metrics-1 { color: #6b8894; font-size: 17px; margin-bottom: 5px; }
.block-sms-2 { color: #752361; font-size: 13px; margin-bottom: 5px; }
.block-order-3 { color: #abcca6; font-size: 12px; margin-bottom: 5px; }
.block-uploader-4 { color: #4b7988; font-size: 19px; margin-bottom: 5px; }